/**
 * Thèmes
 */
:root {
    --principale: #333;
    --secondaire: #fff;
    --bleu: #00f;
    --violet: purple;
    --rouge: #e01b24;
}

/*@media (prefers-color-scheme: dark){
    :root{
        --principale: #fff;
        --secondaire: #222;
        --bleu: #51b2fc;
        --violet: violet;
        --rouge: #FF5F5F;
    }
}
*/

/**
 * Base / reset
 */
html {
    background: var(--secondaire);
    scroll-behavior: smooth;
}

body {
    color: var(--principale);
    background: var(--secondaire);

    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .9) 1.2em, rgba(255, 255, 255, 0) 100%);
}

body>main {
    overflow: hidden;
}

body>main>div,
body>main>section,
body>footer {
    margin: auto;
}

body>footer {

    margin: auto;
    max-width: 1140px;
}

body>footer p {
    margin-top: 0;
}

body blockquote {
    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: italic;

    font-size: clamp(1em, 0.6098rem + 1.9512vw, 1.8em);

    margin: 4em 0;
}

body>main>blockquote {
    border-color: #000;
    border-width: 1px 0;
    border-style: solid;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: italic;

    font-size: clamp(1em, 0.6098rem + 1.9512vw, 1.8em);

    margin: 4em 0;
}

body>main blockquote>p {
    max-width: 1140px;
    margin: 1em auto;
    padding: 0 1vw;
    line-height: 1.15;
}

.mw70ch {
    max-width: 70ch;
}

h1,
h2,
h3,
h4 {
    line-height: 1.15;
}

h1,
.h1 {
    font-size: 2em;
    font-weight: 900;
}

.home .h1 {
    font-size: clamp(2em, 1.2195rem + 3.9024vw, 3em);
    text-align: right;
    text-wrap: balance;
}

.home .h1 p {
    background: #fff;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

h2,
.h2 {
    font-size: 1.5em;
}

h3,
.h3 {
    font-size: 1.17em;
}

h4,
.h4 {
    font-size: 1.1em;
}

p,
ul,
dl,
table {
    margin-bottom: 2em;
    max-width: 70ch;
}

header {
    position: sticky;
    top: 0;
    padding: .3rem 1rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, .9) 1.2em, rgba(255, 255, 255, 0) 100%);
    padding-bottom: 2em;
}

footer p,
footer ul {
    margin-top: 1em;
    margin-bottom: 1em
}

dt {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

ul li {
    margin-bottom: .33em;
}

dd {
    margin-bottom: .75em;
}

code {
    font: .7em monospace;
    margin: 0 1ch
}

a {
    color: var(--bleu);
    text-decoration-skip-ink: none;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: .15em;
}

a:active {
    color: var(--rouge)
}

a:visited {
    color: var(--violet)
}

a[target="_blank"]::after {
    content: '↗'/'';
}

a[target="_self"] {
    display: inline-block;
    padding: .1rem 1rem;
    border: 1.5px solid var(--bleu);
    border-radius: 99rem;

    color: #000;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;

    transition: .2s all;
}

a[target="_self"]::after {
    content: '→';
    display: inline-block;
    margin-left: .6ch;
    font-size: 1.2em;
    transition: .2s all;
}

a[target="_self"]:hover {
    background: var(--bleu);
    color: #fff;
    font-weight: bold;
}

a[target="_self"]:hover::after {
    transform: translateX(.4ch);
    font-weight: bold;

}

a[target="_top"] {
    color: var(--bleu);
    font-family: 'Courier New', Courier, monospace;
}

a[target="_top"]::after {
    content: '↖';
    display: inline-block;
    text-decoration: none;
    margin-left: .6ch;
    transition: .2s all;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

i[aria-hidden="true"] {
    font-style: normal;
}

figure {
    margin: 0;
    max-width: min-content;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: .7em;
    margin-bottom: 2em;
}

figcaption::before {
    content: '↑';
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: .5ch;
}

/** icones */
strong {
    font-weight: 900;
}

hr {
    border: 0;
    background: var(--principale);
    height: 1px;
    margin-top: 2em;
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
    text-align: left;
    min-width: 40ch;
}

table caption {
    font-weight: bold;
    text-align: left;
    margin-bottom: 1em;
}

table thead th {
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.5rem;
}

table tbody tr {
    border-top: 1px dotted var(--principale);
}

table tbody tr:first-of-type {
    border-top: 1px solid var(--principale);
}

table tbody tr:last-of-type {
    border-bottom: 1px solid var(--principale);
}

table tbody td {
    padding: .3em .5rem;
}

img {}

/**
 * Utilitaires
 */

.monospace {
    font-family: 'Courier New', Courier, monospace;
}


/** utilitaires > largeurs */


.mw480p {
    max-width: 480px;
}

.mw570p {
    max-width: 570px;
}

.mw1140p {
    max-width: 1140px;
}

/** utilitaires > marges */

.mxa {
    margin-left: auto;
    margin-right: auto;
}

.mxr {
    margin-left: auto;
}

.mxl {
    margin-right: auto;
}

.mts {
    margin-top: 5vh;
}

.mtm {
    margin-top: 10vh;
}

.mtl {
    margin-top: 15vh;
}


.mys {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mym {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.myl {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.pxxs {
    padding-left: 1vw;
    padding-right: 1vw;
}


.tr {
    text-align: right;
}

/**
 * Composants 
 */

/** Composants > Accès rapide */
header nav:first-of-type p {
    margin: 0;
}

/** Composants > Menu */

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav.tdm>ul {
    list-style: none;
    max-width: 100%;
    padding: 0;
    margin: 0;

    font-style: oblique;

    font-size: 1.2em;
}

nav.tdm a {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    font-family: 'Courier New', Courier, monospace;
}

nav.tdm a[target="_blank"]::after {
    text-decoration: none;
    margin-left: .6ch;
    transition: .2s all;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



nav.tdm a>em {
    text-decoration: underline;
}

.next ul {
    list-style: none;
    text-align: right;
    margin: 1em auto;
}

.next ul li::after {
    content: '\00A0→';
}

/** Composants > fil d'Ariane */
ol[typeof="BreadcrumbList"] {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-size: .9em;
    font-style: italic;
}

ol[typeof="BreadcrumbList"],
.nomSite {
    margin: .5em 0;
}

ol[typeof="BreadcrumbList"] li[typeof="ListItem"]:first-child,
.nomSite {
    font-style: italic;
}

ol[typeof="BreadcrumbList"] li[typeof="ListItem"]:last-child {
    font-weight: bold;
}

ol[typeof="BreadcrumbList"] li[typeof="ListItem"]:not(:last-child)::after {
    content: '/';
    margin: 0;
    pointer-events: none;
    font-style: normal;
}

ol[typeof="BreadcrumbList"] li[typeof="ListItem"] a,
ol[typeof="BreadcrumbList"] li[typeof="ListItem"] span {
    text-decoration: none;
    color: var(--principale);
}

ol[typeof="BreadcrumbList"] li[typeof="ListItem"] a:hover {
    color: var(--bleu);
    text-decoration: underline;
}


/** Composants > Sommaires */
[role="doc-toc"] {
    margin-bottom: 4em;
}

main hr,
[role="doc-endnotes"] hr {
    background: none;
    border-top: 1px solid var(--principale);
}

[role="doc-endnotes"] li,
[role="doc-endnotes"] p {
    margin: 0;
}

/** composants > statistiques */
.statistiques {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em 1vw;
}

.statistiques h2 {
    min-width: 240px;
    flex: 1;
}

.statistiques strong {
    font-size: clamp(1.5rem, 1.1098rem + 1.9512vw, 2.5rem);
}

.statistiques small {
    display: block;
    font-size: .6em;
    line-height: 1.15;
    font-family: monospace;
    padding-top: .5em;
}

/** */
.keywords {
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.keywords strong {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: .1rem .4rem;
    margin: .4rem 0;
}


/** composant > faq */

.faq details {
    border-bottom: 1px solid var(--principale);
    cursor: pointer;
}

.faq details:not(:last-child) {
    border-top: 1px solid var(--principale);
}

.faq details summary {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.17em;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: .5em;
}

.faq details summary~* {
    margin-left: auto;
    margin-right: auto;
}

.faq details summary em {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.faq details[open] summary em {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}

.faq details summary::marker,
.faq details summary::-webkit-details-marker {
    display: none;
    list-style: none;
}

.faq details summary .marker::before {
    content: '+';
    display: inline-block;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1;

    transition: all .3s;
}

.faq details[open] summary .marker::before {
    content: '−';
}

.faq details summary:hover {
    color: var(--bleu);
}

/**
 * Utilitaire
 */

/** text */
.nomSite {
    font-size: .9em !important;
    font-weight: normal;
}

body:not(.home) .nomSite {
    display: none;
}

.nomSite a {
    color: var(--principale);
    text-decoration: none;
}

/** list */

.slashed,
.slashed ul {
    margin-left: 0;
    padding-left: 0;
}

.slashed li {
    list-style: none;
}

.slashed li::before {
    content: '/';
    font-weight: bolder;
    opacity: .25;
    margin-right: .5ch;
}

.smallcaps {
    text-transform: lowercase;
    font-variant: small-caps;
}

.letterspacing {
    letter-spacing: .2ch;
}

.flex {
    display: flex;
}

.flex-2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-center {
    align-items: center;
}

.flex ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statistiques ul {
    list-style: none;
    padding: 0;
    i margin: 0;
}

.statistiques li {
    padding: 0 1em;
    flex: 20%;
}

.statistiques li:not(:first-child) {
    border-left: 1px solid #000;
}

ol>li {
    list-style-type: decimal-leading-zero;
    margin-left: 1em;
}

ol>li::marker {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    color: #333;
}
ol[typeof="BreadcrumbList"]>li{
    list-style: none;
    margin-left: 0;
}

.li-marged li {
    margin-bottom: 2em;
    margin-left: 1em;
}


/**
 * Thème
 */

/** accueil */
/*.home h1 {
    font-size: clamp(2em, 1.25rem + 3.75vw, 3.5em);
}
.home h1 .mark{
    background: unset;
    color: var(--rouge);
}

.home .h2 {
    font-size: clamp(1.25em, 1.125rem + 0.625vw, 1.5em);
}

.home .h2 + p {margin: 0;}*/

/** A11Y */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}