<article class="mw1140p mxa pxxs">

    <h1>$title$</h1>

    $for(metadonnees)$
    $if(metadonnees.description)$<p>$metadonnees.description$</p>$endif$
    $endfor$

    $if(toc)$
    <nav id="$idprefix$TOC" role="doc-toc">
        $if(toc-title)$<h2 id="$idprefix$toc-title">$toc-title$</h2>$endif$
        $table-of-contents$
    </nav>
    $endif$

    $body$

    <small><i aria-hidden="true">⬅️</i> <a href="./">Revenir aux articles</a></small>

</article>